<header class="header">	
	<div class="menu-button"><a class="icon" title='&#9776;'>&#9776;</a></div>	
	<div class="logo">
		<a href="/" class="header-logo">Real Estate</a>
	</div>	
	<div class="menu">
		<ul class="flexnav" data-breakpoint="800"> 

			<li>
				<a href="">Home</a>
			</li> 
			<li>
				<a href="">Home</a>
			</li> 

		</ul>	      	
	</div>
</header>
<div class="content">
	<div class="homemenu"	>
		<h1 class="title">Search Property</h1>
		<div id="search">
			<div class="country">			
				<input type="text" id="country" placeholder="Country">
			</div>
			<div class="minprice">			
				<input type="text" id="minprice" placeholder="No Minprice">
			</div>
			<div class="maxprice">			
				<input type="text" id="maxprice" placeholder="No Maxprice">
			</div>
			<div class="type">			
				<input type="text" id="type" placeholder="All Types">
			</div>
			<div class="bedroom">			
				<input type="text" id="bedroom" placeholder="All Bedroom">
			</div>
			
			<button class="buttonx green" id="moreoption">More Options</button>			
		    <button class="buttonx red" id="searchbtn">Search</button>			
		</div>

	</div>

</div>
<footer class="footer">
    
 </footer>